<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  </div>

    <div style="position: absolute;left:380px">
        <a routerLink="/viewemployee"><button class="button button1">Add employees</button></a>
        <a routerLink="/register"><button class="button button1">View employees</button></a>
        <a routerLink="/skillmap"><button class="button button1">View Skill</button></a>
        <a routerLink="/skills"><button class="button button1">SearchSkill</button></a>

  </div>


  <router-outlet></router-outlet>